@import "tailwindcss";
@plugin '../hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap'); */
/*  */
 /* body{
        
          font-family: "Edu NSW ACT Cursive", cursive;
    } */
     @layer utilities {
    .container {
        @apply mx-auto
    }
}



@theme { --color-azraq-400:#224D7F;
--color-mint-500:#95b9d0;
}




